body {
    background: url('/img/fundo-receitas.jpg') center/cover no-repeat;
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    background: linear-gradient(to left, #654321, #000000);
    display: flex;
}

.formulario {
    display: inline-block;
    justify-content: left;
    color: white;
    padding: 15vh;
    margin: 10vh auto;
    margin-right: 10%;
    text-align: left;
}

.formulario img {
    width: 15%;
    height: 15%;
}

.formulario input {
    margin-bottom: 10px;
    padding: 10px;
    transition: all 0.3s;
    width: 90%;
    background-color: beige;
    border-radius: 10px;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#eyeIcon {
    position: absolute;
    width: 35px;
    height: 35px;
    cursor: pointer;
    user-select: none;
    margin-left: 10px;
    transition: all 0.3s ease;
}

#eyeIcon:hover {
    transform: scale(1.2);
}

.formulario input:focus {
    transform: scale(1.1);
}

.formulario button {
    width: 50%;
    padding: 8px;
    margin-left: 25%;
    transition: all 0.3s;
    cursor: pointer;
    background-color: antiquewhite;
    border-radius: 10px;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.formulario button:hover {
    transform: scale(1.05);
    background-color: beige;
}

.formulario a {
    color: white;
    text-decoration: none;
}

.formulario a:hover {
    text-decoration: underline;
}

.redes {
    position: absolute;
    justify-content: flex-end;
    right: 5vh;
    bottom: 20px;
    gap: 15px;
}

.redes img {
    transition: all 0.3s;
    width: 55px;
}

.redes img:hover {
    transform: scale(1.1);
}