html{
    height: 100%;
    margin: 0;
}

body{
    height: 100%;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    background: linear-gradient(135deg, #F5F5DC, #D2B48C);
}

.container h1{
    position: relative;
    display: block;
    transform: translateY(20px);
    margin-top: 0;
    padding: 0 0 0 30px;
}

.container p{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 1%;
    margin-top: 15vh;
    background-color: #D2B48C;
    border-radius: 10px;
}

.recovery-form input{
    display: flex;
    position: relative;
    width: 25%;
    margin: 10vh;
    border-radius: 5px;
    border-color: white;
    transition: all 0.3s;
    padding: 2%;
    border: none;
    background-color: beige;
}

.recovery-form input:focus{
    transform: scale(1.05);
}

#recovery-button{
    position: relative;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 10%;
    padding: 15px;
    transition: all 0.3s;
    cursor: pointer;
    background-color: beige;
    border-radius: 5px;
    border: none;
    margin-left: auto;
    margin-right: 10%;
    line-height: 1;
    margin-top: 0;
}

#recovery-button:hover{
    transform: scale(1.05);
    background-color: whitesmoke;
}

#back-botton{
    position: fixed;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 10%;
    padding: 15px;
    cursor: pointer;
    background-color: beige;
    border-radius: 5px;
    border: none;
    margin-left: 2%;
    bottom: 3vh;
    transition: background-color 0.3s, transform 0.3s;
}

#back-botton:hover{
    background-color: whitesmoke;
    transform: scale(1.05);
}

.recovery-form a{
    text-decoration: none;
}